@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@custom-variant dark (&:where(.dark, .dark *));

@source "../node_modules/flowbite";
@source "../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}";
@source "./**/*.svelte";

@plugin "flowbite/plugin";

@theme {
  --bg-default: #E5E5E5;
  --bg-default-dark: #1B1B1B;

  --bg-navbar: #FF000000;
  --bg-navbar-dark: #FF000000;
  --navbar: #000000;
  --navbar-dark: #FFFFFF;
  --bg-nav-hover: #C5C5C5AA;
  --bg-nav-hover-dark: #00000077;
  --bg-hamburger: #E0E0E0;
  --bg-hamburger-dark: #333333;
  --hamburger-border: var(--border);
  --hamburger-border-dark: var(--border-dark);

  --primary-text: #000000;
  --primary-text-dark: #FFFFFF;
  --secondary-text: #4B4B4B;
  --secondary-text-dark: #B3B3B3;
  --ring: var(--bg-card);
  --ring-dark: var(--bg-card-dark);

  --bg-card: #FFFFFF;
  --bg-card-dark: #2A2A2A;
  --card-title: #000000;
  --card-title-dark: #FFFFFF;
  --card-text: #4B4B4B;
  --card-text-dark: #B3B3B3;

  --border: #E0E0E0;
  --border-dark: #333333;
  --button-border: #C8C8C8;
  --button-border-dark: #555555;

  --bg-github-button: #2B3137;
  --bg-github-button-dark: #2DBA4E99;
  --github-button: #FFFFFF;
  --github-button-dark: #000000;

  --bg-extra-button: #FF000000;
  --bg-extra-button-dark: #FF000000;
  --extra-button: #000000;
  --extra-button-dark: #FFFFFF;
  --extra-button-hover: #E0E0E0;
  --extra-button-hover-dark: #333333;

  --bg-badge: #EDCBF5AA;
  --bg-badge-dark: #784B8BAA;
  --badge: #784B8B;
  --badge-dark: #EDCBF5;

  --timeline-date: #4B4B4B;
  --timeline-date-dark: #B3B3B3;
  --timeline-title: #000000;
  --timeline-title-dark: #FFFFFF;
  --timeline-description: #4B4B4B;
  --timeline-description-dark: #B3B3B3;
  --timeline-line: #C0C0C0;
  --timeline-line-dark: #333333;
  --timeline-circle: #C0C0C0;
  --timeline-circle-dark: #333333;
  --timeline-circle-border: #C0C0C0;
  --timeline-circle-border-dark: #333333;

  --bg-footer: #E0E0E000;
  --bg-footer-dark: #33333300;
  --footer-links: #636363;
  --footer-links-dark: #9B9B9B;
  --footer: #636363;
  --footer-dark: #9B9B9B;
  --footer-links-hover: #B3B3B3;
  --footer-links-hover-dark: #FFFFFF;
}
