@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@custom-variant dark (&:where(.dark, .dark *));

@source "../node_modules/flowbite";
@source "../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}";
@source "./**/*.svelte";

@plugin "flowbite/plugin";

@theme {
  --bg-default: #D3D3D3;
  --bg-default-dark: #101010;

  --primary-text: #000000;
  --primary-text-dark: #FFFFFF;
  --secondary-text: #4B4B4B;
  --secondary-text-dark: #B3B3B3;

  --image-ring: #80808040;
  --image-ring-dark: #80808030;

  --timeline-date: #4B4B4B;
  --timeline-date-dark: #B3B3B3;
  --timeline-title: #000000;
  --timeline-title-dark: #FFFFFF;
  --timeline-description: #4B4B4B;
  --timeline-description-dark: #B3B3B3;
  --timeline-line: #C0C0C0;
  --timeline-line-dark: #333333;
  --timeline-circle: #C0C0C0;
  --timeline-circle-dark: #333333;
  --timeline-circle-border: #C0C0C0;
  --timeline-circle-border-dark: #333333;
}